/* para que no se agranda */
*,*:after,*:before{
    box-sizing:border-box
  }
  
  body{
    min-width:100vh;
  }
  .admin{
    display:flex;
  
  
  }
  .visor{
    height:100vh;
    flex:1;
    margin:1em;
    background-image:url(https://w.wallhaven.cc/full/5w/wallhaven-5wpzw7.png);
  
  /*   border:1px solid black; */
    background-size:cover;
    background-clip:border-box;
    background-origin:border-box;
  }
  .show{
    display:none;
  }
  
  .visor:hover > .show{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vh;
    height:100vh;
  }
  
  
  .description{
    margin:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.5);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2rem;
  }
  .second{
    background-image:url("https://w.wallhaven.cc/full/md/wallhaven-mdykvy.jpg")
  }
  .third{
    background-image:url("https://w.wallhaven.cc/full/6k/wallhaven-6kgqq6.jpg")
  }
  .four{
    background-image:url("https://w.wallhaven.cc/full/j5/wallhaven-j5rvpp.jpg")
  }
  .five{
    background-image:url("https://w.wallhaven.cc/full/xl/wallhaven-xlo9rd.jpg")
  }
  .six{
    background-image:url("https://w.wallhaven.cc/full/zm/wallhaven-zmrgmg.jpg")
  }
  
  